[submodule "Plugins/BAMultiplayer"]
	path = Plugins/BAMultiplayer
	url = https://github.com/BionicApe/BAMultiplayer
[submodule "Plugins/BionicApeUI"]
	path = Plugins/BionicApeUI
	url = https://github.com/BionicApe/BionicApeUI
[submodule "Plugins/OnlineSubsystemCognito"]
	path = Plugins/OnlineSubsystemCognito
	url = https://github.com/BionicApe/OnlineSubsystemCognito
[submodule "Plugins/BaAwsSdk"]
	path = Plugins/BaAwsSdk
	url = https://github.com/BionicApe/BaAwsSdk
[submodule "Plugins/ThePrisonDAO"]
	path = Plugins/ThePrisonDAO
	url = https://github.com/BionicApe/ThePrisonDAO.git
[submodule "Plugins/MySQL"]
	path = Plugins/MySQL
	url = https://github.com/BionicApe/MySQL
